<div class="row">
  <div class="col-xs-12" style="text-align: center; margin-top: 10px;">
    <%= bootstrap_form_for @record do |f| %>
      <%= f.hidden_field :source_id %>
      <%= f.hidden_field :scanned_by %>
      <%= hidden_field_tag :secret, Rails.application.secrets.http_password %>
      <p>You have scanned case #<%= @record.source_id %></p>
      <%= f.primary "Create new case", class: 'btn btn-primary btn-lg btn-block' %>
    <% end %>
  </div>
</div>
